
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo_pagina %}
  {% if funcionario.pk %}
    Editar Funcionario
  {% else %}
    Cadastrar Funcionario
  {% endif %}

{% endblock titulo_pagina %}

{% block conteudo %}
            {% if funcionario.pk %}
              <h1>Editar Funcionario</h1>
            {% else %}
              <h1>Novo Funcionario</h1>
            {% endif %}
            
            <form method = "POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="subimit" class="btn btn-primary btn-sm">Salvar</button>
            </form>
{% endblock conteudo %}            
            



